!!!
%html
  %head
    %title ShinnyRock
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}
    %meta{:content => "Flat administration template for Twitter Bootstrap. Twitter Bootstrap 3 template with Ruby on Rails support.", :name => "description"}
    /[if lt IE 9]
      = javascript_include_tag 'ie/html5shiv.js', 'data-turbolinks-track' => true 
      = javascript_include_tag 'ie/respond.min.js', 'data-turbolinks-track' => true

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags

  %body.contrast-dark
    #wrapper
      = render 'shared/header'
      = render 'shared/sidebar'
      %section#content
        .container
          #content-wrapper.row
            = yield

          = render 'shared/footer'